<section class="content-header">
      <h1>
        <i class="icofont icofont-hospital"></i> Hospitals
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Hospitals</li>
      </ol>
</section>
<!-- menu start here -->
<div class="menu">
	<div class="container">
		<div class="row ">
			<div class="col-sm-10 col-xs-10">
				<!-- ng-class using filter gives active class on click on anchor in the li element -->
				<ul class="nav nav-tabs list-inline" style="margin: 10px 14% 20px;">
					<li ng-class="(filter.type == 'donor') ? 'active' : ''">
						<a ng-click="filter = {type : 'donor', status : 'approved'}" aria-expanded="false">Donor</a>
					</li>
					<li ng-class="(filter.type == 'requester') ? 'active' : ''">
						<a ng-click="filter = {type : 'requester', status : 'approved'}" aria-expanded="false">Requester</a>
					</li>
					<li ng-class="(filter.status == 'disabled') ? 'active' : ''">
						<a ng-click="filter = {status : 'disabled'}" aria-expanded="false">Disabled</a>
					</li>
					<li ng-class="(filter.status == 'pending') ? 'active' : ''">
						<a ng-click="filter = {status : 'pending'}" aria-expanded="false">Signup Requests</a>
					</li>
				</ul>
				<!-- unordered list end here -->
				<!-- ng-repeat on hospitals using filter start here -->
				<div  class="tab-content">
					<div class="tab-pane active">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="hospital in hospitals | filter: filter track by $index">
								<div class="box">
									<div class="image">
										<img ng-src="{{hospital.image}}" id="hospitalimg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>{{hospital.name}}</h4>
										<p class="des">{{hospital.description | limitTo:50}}...</p>
										<div class="col-md-12 col-sm-12 col-xs-12 text-left" style="padding: 0;">
											{{hospital.address}},
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6 text-left" style="padding: 0;">{{hospital.city}}, {{hospital.state}}</div>
										<div class="icon text-right  col-md-6 col-sm-6 col-xs-6" style="padding: 0;">
											<a class="cart" ng-click="viewHospital(hospital);"><i class="icofont icofont-eye-alt"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ng-repeat on hospitals end here -->	
			</div>
		</div>
	</div>
</div>
<!-- menu end here -->