<section class="content-header">
     <h1>
       <i class="icofont icofont-fork-lift"></i> Orders
    </h1>
     <ol class="breadcrumb">
       <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
       <li class="active">Orders</li>
     </ol>
</section>
<!-- cart start here -->
<div class="myswitch" style="margin: 30px 0;">
	<div class="container">
		<div class="row">
			<div class="col-sm-11">
				<div class="tab-content">
					<div class="tab-pane active" id="tab-switch">
						<form ng-submit="next(1)">
							<div class="menu col-sm-12" ng-show="orders.length">
							<!-- ng-class using filter gives active class on click on anchor in the li element -->
								<ul class="nav nav-tabs list-inline" style="margin: 10px 11% 20px;">
									<li ng-class="(filter.status == 'pending') ? 'active' : ''">
										<a ng-click="filter = {status : 'pending'}" aria-expanded="false">Pending</a>
									</li>
									<li ng-class="(filter.status == 'approved') ? 'active' : ''">
										<a ng-click="filter = {status : 'approved'}" aria-expanded="false">Approved</a>
									</li>
									<li ng-class="(filter.status == 'rejected') ? 'active' : ''">
										<a ng-click="filter = {status : 'rejected'}" aria-expanded="false">Rejected</a>
									</li>
								</ul>
								<!-- unordered list end here -->
							</div>
							<div class="col-sm-12 table-responsive" ng-if="orders">
								<table class="table  table-bordered">
									<thead ng-if="orders.length">
										<tr>
											<td class="text-center">Ref Id</td>
											<td class="text-center">Name</td>
											<td class="text-center">Price</td>
											<td class="text-center">Qty.</td>
											<td class="text-center">Total Amount</td>
											<td class="text-center">View</td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="product in orders | filter: filter as filterOrders track by $index">
											<td class="text-center">{{product.ref_id}}</td>
											<td>
												<a href="#">
													<img ng-src="{{product.products[0].image}}" class="img-responsive productImg" alt="thumb" title="thumb" />
												</a>
												<div class="name">
													<h4>{{product.products[0].name}}</h4>
													<p>{{product.products[0].description | limitTo:50}}...</p>
												</div>
											</td>
											<td class="text-center">${{product.products[0].price}}</td>
											<td class="text-center">
												{{product.products[0].quantity}}
											</td>
											<td class="text-center">${{product.products[0].price * product.products[0].quantity}}</td>
											<td class="text-center"><a ui-sref="secure.order_details({id : product.ref_id})"><i class="icofont icofont-eye-alt" style="font-size: 25px;"></i></a></td>
										</tr>
										<tr ng-if="!filterOrders.length && orders.length">
											<td colspan="7">
												<div class="buttons text-center">
													<p>No {{filter.status | capitalize}} Order Found</p>
												</div>
											</td>
										</tr>
										<tr ng-if="!orders.length">
											<td colspan="5">
												<div class="buttons text-center">
													<a ui-sref="secure.donate_form" class="btn btn-primary">Go To Donate Page</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<!-- cart end here -->
