<section class="content-header">
     <h1>
       <i class="icofont icofont-prescription"></i> Order Details - <span>( <a ui-sref="secure.orders" style="font-size: 16px;">Go Back</a> )</span>
    </h1>
     <ol class="breadcrumb">
       <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
       <li class="active">Orders</li>
     </ol>
</section>
<!-- cart start here -->
<div class="mycart" style="margin: 30px 0;">
	<div class="container" style="width: 1000px;">
		<div class="row">
			<div class="row">
			<div class="col-sm-12 text-center">
				<!-- address start here -->
				<div class="address">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12 mycart" style="margin: 0;">
								<div class="box text-center myCart" id="tab-cart" style="height: auto;padding: 20px 0 0 0;">
									<div class="col-sm-6" style="width:48%;">
										<h2 style="text-align: left;">Reference ID - {{orderData.ref_id | uppercase}}</h2>
										<h2 style="text-align: left;" ng-if="orderData.status">Status - {{orderData.status | capitalize}}</h2>
									</div>
									<div class="col-sm-6" style="position: absolute;right: 0px;" ng-if="status && (orderData.status == 'pending')">
										<div style='padding: 10px;padding-top: 0px;text-align: right;'>
                        					<a style="font-size: 15px;" ng-click="statusUpdate('approved')" class="btn btn-success btn-xs">Approve</a>
                        					<a style="font-size: 15px;" ng-click="statusUpdate('rejected')" class="btn btn-danger btn-xs">Reject</a>
                      					</div>
									</div>
									<div class="icon">
										<i class="icofont icofont-stethoscope-alt"></i>
										<h4 style="margin-top: 30px;">PRODUCTS</h4>
									</div>
									<div class="table-responsive">
									<table class="table table-bordered"  id="productTable">
									<thead>
										<tr>
											<td class="text-center">Name</td>
											<td class="text-center">Price</td>
											<td class="text-center">Qty.</td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="product in orderData.products | orderBy : '-' track by $index">
											<td>
												<a href="#">
													<img ng-src="{{product.image}}" class="img-responsive" alt="thumb" title="thumb" style="    width: 15%;" />
												</a>
												<div class="name">
													<h4>{{product.name}}</h4>
												</div>
											</td>
											<td class="text-center">$ {{product.price}}</td>
											<td class="text-center">
												<p class="qtypara">
													{{product.quantity}}
												</p>
											</td>
										</tr>
										<tr>
											<td colspan="5">
												<h3 class="text-right" style="margin:0;">SUBTOTAL - ${{orderData.total_amount}}</h3>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6">
								<div class="box text-center" style="height: auto;">
									<div class="icon">
										<i class="icofont icofont-user"></i>
									</div>
									<h4>{{show}} HOSPITAL INFO</h4>
									<div class="row">
									<div class="row col-sm-offset-1 col-sm-offset-right-1" ng-repeat="(key, value) in orderData.contact_details track by $index">
										<div class="col-md-3 col-sm-3 col-xs-3 text-right">
											<label>{{key | capitalize}}</label>
										</div>
										<div class="col-md-9 col-sm-9 col-xs-9 text-left">
											<p>{{value | capitalize}}</p>
										</div>
									</div>
									</div>
								</div>	
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6">
								<div class="box text-center" style="height: auto;">
									<div class="icon">
										<i class="icofont icofont-home"></i>
									</div>
									<h4>ADDRESS INFO</h4>
									<div class="row">
									<div class="row col-sm-offset-1 col-sm-offset-right-1" ng-repeat="(key, value) in orderData.address_details track by $index">
										<div class="col-md-3 col-sm-3 col-xs-3 text-right">
											<label>{{key | capitalize}}</label>
										</div>
										<div class="col-md-9 col-sm-9 col-xs-9 text-left">
											<p>{{value | capitalize}}</p>
										</div>
									</div>
									</div>
								</div>	
							</div>
						</div>
				</div>
				<!-- address end here -->
			</div>		
		</div>
		</div>
	</div>
</div>
<!-- cart end here -->
