<style>
	.menu .nav-tabs {
    		border: 1px solid #E5E5E5;
    		margin: 0px 0% 35px;
    		padding: 20px 0;
    		text-align: center;
	}
</style>
<section class="content-header">
      <h1>
        <i class="icofont icofont-fork-lift"></i> Live Store
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Live Store</li>
      </ol>
</section>
<!-- menu start here -->
<div class="menu shop">
		<div class="row ">
			<div class="col-sm-3 col-xs-3" style="width:30%;">
				<div class="col-sm-12">
				<div class="left">
					<h4>SEARCH FILTERS</h4>
					<div class="search" style="padding-bottom: 0px;">
						<form class="form-horizontal" method="post">
							<fieldset>
								<div class="form-group">
									<input name="s" value="" class="form-control" placeholder="Search" type="text">
									<button type="submit" value="submit" class="btn"><i class="icofont icofont-search"></i></button>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="price">
						<h3>price range( ${{dataFilter.price}} )</h3>
						<div class="price-filter">
							<input type="range" min="0" max="10000" step="100" ng-model="dataFilter.price" />
						</div>
					</div>
					<div class="price">
						<h3>Quantity range( {{dataFilter.qty}} Units)</h3>
						<div class="price-filter">
							<input type="range" min="0" max="10000" step="50" ng-model="dataFilter.qty" />
						</div>
					</div>
					<div class="popular">
						<h3>popular tags <a href="#" class="pull-right"><i class="icofont icofont-plus"></i></a></h3>
						<ul class="list-inline">
							<li><a href="#">Medical Equipment <i class="icofont icofont-close"></i></a></li>
							<li><a href="#">Therapeutic <i class="icofont icofont-close"></i></a></li>
							<li><a href="#">Surgery <i class="icofont icofont-close"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			</div>
			<div class="col-sm-9 col-xs-9" style="width: 65%;">
				<!-- ng-class using filter gives active class on click on anchor in the li element -->
				<ul class="nav nav-tabs list-inline">
					<li ng-class="(filter == 'diagnostic') ? 'active' : ''">
						<a ng-click="filter = 'diagnostic'" aria-expanded="false">Diagnostic</a>
					</li>
					<li ng-class="(filter == 'therapeutic') ? 'active' : ''">
						<a ng-click="filter = 'therapeutic'" aria-expanded="false">Therapeutic</a>
					</li>
					<li ng-class="(filter == 'surgical') ? 'active' : ''">
						<a ng-click="filter = 'surgical'" aria-expanded="false">Surgical</a>
					</li>
					<li ng-class="(filter == 'biomedical') ? 'active' : ''">
						<a ng-click="filter = 'biomedical'" aria-expanded="false">Biomedical</a>
					</li>
				</ul>
				<!-- unordered list end here -->
				<!-- ng-repeat on items using filter start here -->
				<div  class="tab-content">
					<div class="tab-pane active">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="item in equipments | filter: {type : filter}  as FilterEquipments track by $index">
								<div class="box" ng-if="(item.price <= dataFilter.price) && (item.quantity <= dataFilter.qty && !item.sold_to)">
									<div class="image">
										<img ng-src="{{item.image}}" alt="image" title="image" class="img-responsive productImg" />
									</div>
									<div class="caption">
										<h4>{{item.name}}(Qty-{{item.quantity}})</h4>
										<p class="des">{{item.description | limitTo:50}}...</p>
										<div class="price col-md-6 col-sm-6 col-xs-6 text-left" style="padding: 0;">${{item.price}}</div>
										<div class="icon text-right  col-md-6 col-sm-6 col-xs-6" style="padding: 0;">
											<a class="cart" ng-click="switch(item.status,item, $index);"><i ng-style="(item.status) ? {color : '#8BC34A'} : {color : '#2196F3'}" class="icofont icofont-cart-alt"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ng-repeat on items end here -->	
			</div>
		</div>
</div>
<!-- menu end here -->
