<!-- Website header start here-->
<header>
	<!--top start here -->
	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<ul class="list-inline pull-left icon">
						<li><a ui-sref="app.home.contact"><i class="icofont icofont-ui-message"></i>Email : info@hospital.com</a></li>
						<li><a ui-sref="app.home.contact"><i class="icofont icofont-phone"></i>Phone : 123 456 7890</a></li>
						<!-- <li ng-controller="mainCtrl"><a href="/shopping-cart"><i class="icofont icofont-cart-alt"></i>My Cart<span class="badge">{{length}}</span></a></li> -->
					</ul>
					<ul class="list-inline pull-right  icon">
						<li>
							<ul class="list-inline social">
								<li><a href="https://www.facebook.com/" target="_blank"><i class="icofont icofont-social-facebook"></i></a></li>
								<li><a href="https://twitter.com/" target="_blank"><i class="icofont icofont-social-twitter"></i></a></li>
								<li><a href="https://plus.google.com/" target="_blank"><i class="icofont icofont-social-google-plus"></i></a></li>
								<li><a href="https://www.instagram.com/" target="_blank"><i class="icofont icofont-social-instagram"></i></a></li>
								<li><a href="https://in.pinterest.com/" target="_blank"><i class="icofont icofont-social-pinterest"></i></a></li>
								<li><a href="https://www.youtube.com/" target="_blank"><i class="icofont icofont-social-youtube-play"></i></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--top end here -->
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div id="logo">
					<a href="/"><img class="img-responsive" style="width: 130px;" src="assets/images/logo.png" alt="logo" title="logo" /></a>
				</div>
			</div>
				
			<div class="col-md-9 col-sm-9 col-xs-12">
				<!-- menu start here -->
				<div id="menu">	
					<nav class="navbar">
						<div class="navbar-header">
							<span class="menutext visible-xs">Menu</span>
							<button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="btn btn-navbar navbar-toggle" type="button"><i class="icofont icofont-navigation-menu"></i></button>
						</div>
						<div class="collapse navbar-collapse navbar-ex1-collapse padd0">
							<ul class="nav navbar-nav text-right">
								<li ng-class="getClass('app.home')"><a ui-sref="app.home">home</a></li>
								<li ng-class="getClass('app.about')"><a ui-sref="app.about">about us</a></li>
								<li ng-class="getClass('app.contact')"><a ui-sref="app.contact">contact us</a></li>
								<li ng-class="getClass('app.login')"><a ui-sref="app.login">login</a></li>
								<li ng-class="getClass('app.signup')"><a ui-sref="app.signup">signup</a></li>
								<!-- <li ng-if="userData"><a href="/signup">
								<img class="img-responsive" ng-src="{{userData.image}}" alt="user image" title="{{userData.name}}"/> {{userData.name}}
								</a></li> -->
							</ul>
						</div>
					</nav>
				</div>
				<!-- menu end here -->
			</div>
		</div>
	</div>
</header>
<!-- header end here -->

<!--root ng-view start here(All route templates will be injected in this div) -->
<div ui-view="subContent"></div>
<!--root ng-view end here -->
<!-- newsletter start here -->
<div id="newsletter" ng-controller="mainCtrl">
	<div class="container">
		<div class="row">
			<div id="subscribe">
				<form class="form-horizontal" ng-submit="subscribeNewsletter(newsData)" name="subscribe">
					<div class="col-sm-7"> 
						<div class="input-group">
							<span class="news">newsletter</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis lorem augue, at quam finibus eget.</p>
						</div>
					</div>
					<div class="col-sm-5 form-group">
						<div class="input-group">
							<input  ng-model="newsData.email" name="subscribe_email" id="subscribe_email" placeholder="Email" type="email" required>
							<button class="btn btn-news" type="submit" value="submit">Send</button>
						</div>
					</div>
				</form>
			</div> 
		</div>
	</div>
</div>
<!-- newsletter end here -->
<!-- footer start here -->
<footer>
	<div class="container footer_container">
		<div class="row inner">
			<div class="col-sm-3">
				<h5>my order</h5>
				<ul class="list-unstyled">
					<li><a href="#">Order History</a></li>
					<li><a href="#">Wishlist</a></li>
					<li><a href="#">Newsletter</a></li>
					<li><a href="/reservation">My Account</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>Information</h5>
				<ul class="list-unstyled">
					<li><a href="/about-us">About us</a></li>
					<li><a href="#">Delivery Information</a></li>
					<li><a href="/contact-us">Contact us</a></li>
					<li><a href="#">Terms & Conditions</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>Open Time</h5>
				<ul class="list-unstyled">
					<li>Monday - Friday : 9 am to 12 am.</li>
					<li>Saturday - Sunday : 24 Hour Open</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>Working Time</h5>
				<ul class="list-unstyled contact">
					<li><a href="#"><i class="icofont icofont-social-google-map"></i> 123 St 3, Health & Care Hospital, Near Sector-36, Noida, Uttar Pradesh, INDIA</a></li>
					<li><a href="#"><i class="icofont icofont-phone"></i>1800 123 0000, +91 123457890</a></li>
					<li><a href="#"><i class="icofont icofont-ui-message"></i>info@hospital.com</a></li>
				</ul>
			</div>
		</div>
		<div class="row powered">
			<div class="col-sm-12">
				<hr>
			</div>
			<div class="col-sm-3">
				<img src="assets/images/logo.png" class="img-responsive" title="logo" alt="logo" style="max-width: 55%;">
			</div>
			<div class="col-sm-6 text-center">
				<p>Copyright © <span>Health & Care Hospital</span> 2018. All Rights Reserved.</p>
			</div>
			<div class="col-sm-3 text-right">
				<ul class="list-inline social">
					<li><a href="https://www.facebook.com/" target="_blank"><i class="icofont icofont-social-facebook"></i></a></li>
					<li><a href="https://twitter.com/" target="_blank"><i class="icofont icofont-social-twitter"></i></a></li>
					<li><a href="https://plus.google.com/" target="_blank"><i class="icofont icofont-social-google-plus"></i></a></li>
					<li><a href="https://in.pinterest.com/" target="_blank"><i class="icofont icofont-social-pinterest"></i></a></li>
					<li><a href="https://www.instagram.com/" target="_blank"><i class="icofont icofont-social-instagram"></i></a></li>
					<li><a href="https://www.youtube.com/" target="_blank"><i class="icofont icofont-social-youtube-play"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- footer end here -->