<!-- bread-crumb start here -->
<div class="bread-crumb">
	<img src="../assets/images/banner_top.jpg" class="img-responsive" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">
			<h2>login</h2>
			<ul class="list-inline">
				<li><a href="index.html">HOME</a></li>
				<li><a href="sign_in.html">login</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- bread-crumb end here -->

<!-- main container start here -->
<div class="login">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				
				<div class="col-sm-5 padd0">
					<div class="leftside"></div>
					<div class="loginto">
						<div class="commontop text-center">
							<h4>login</h4>
							<hr>
						</div>
						<p>If you dont't have an account? So <a href="/signup">Signup Now</a> And start ad posting less than a mintue</p>
					</div>
				</div>	
				<div class="col-sm-7 padd0">
					<div class="loginnow">
						<form ng-submit="doLogin(loginData)">
							<div class="form-group">
								<i class="icofont icofont-ui-message"></i><input type="email" ng-model="loginData.email" name="email" value="" placeholder="email" id="email" class="form-control" required/>
							</div>
							<div class="form-group">
								<i class="icofont icofont-lock"></i><input type="password" ng-model="loginData.password" name="password" value="" placeholder="password" id="input-password" class="form-control" required/>
							</div>
							<div class="links">
								<input type="radio" class="radio-inline"/>Remember Me <a class="pull-right sign" href="#">Forget Password?</a>
							</div>
							<input type="submit" value="LOGIN" class="btn btn-primary" />
						</form>
					</div>
				</div>			
			</div>
		</div>
	</div>
</div>
<!-- main container end here -->
